.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_content {
  margin-right: 10px;
}
